
*{
    box-sizing: border-box;
    margin:0;
    font-family: "Manrope";
    padding: 0;
}
body{
    background:hsl(218, 23%, 16%);
}
@media(min-width:375px){
    .Advice{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        &__inner{
            background: hsl(217, 19%, 24%);
            height: 320px;
            width:320px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px hsl(218, 23%, 16%);
        }
        &__title{
            padding-top: 20px;
            text-align: center;
            color:hsl(150, 100%, 66%);
        }
        &__text{
            font-size: 26px;
            text-align: center;
            color:white;
            padding-top: 20px;
        }
        &__img{
            width:280px;
            margin:auto;
            margin-top: 30px;
            height: 15px;
            display: flex;
            left:0;
        }
        &__btn{
            border:none;
            background:hsl(150, 100%, 66%);
            width:40px;
            margin: auto;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items:center ;
            height: 40px;
            border-radius:100%;
        }
    }

}
@media(min-width:1024px){
    .Advice{
        &__inner{
            background: hsl(217, 19%, 24%);
            height: 320px;
            width:620px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px hsl(218, 23%, 16%);
        }
    }


}